
<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="500px">
    <input matInput type="text" placeholder="Filter" (keyup)="applyCategoryFilter($event.target.value)">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSourceCategory" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.status }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onCategoryEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onCategoryDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedCategoryColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedCategoryColumns;"></mat-row>
</mat-table>

<mat-paginator #paginatorCategory [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 20]" showFirstLastButtons></mat-paginator>

<div>
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field>
      <mat-label>Category Name</mat-label>
      <input matInput type="text" [ngModel]="category?.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select Status" [ngModel]="category?.status" name="status">
        <mat-option value="enabled">Enabled</mat-option>
        <mat-option value="disabled">Disabled</mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!updateMode" mat-raised-button color="primary" type="submit">Add Category</button>
    <button *ngIf="updateMode" mat-raised-button color="accent" type="submit">Update Category</button>
  </form>
</div>